.App {
  width: 860px;
  height: 350px;
  margin: 0 auto;
  margin-top: 150px;
  border-radius: 10px;
}
img {
  width: 860px;
  height: 350px;
  border-radius: 10px;
  transition: 1s;
}
button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: rgba(40, 40, 40, 0.7);
  border-radius: 10px;
  outline: none;
}
button:hover {
  background-color: rgba(40, 40, 40, 0.8);
  cursor: pointer;
}
.blockBtn {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 290px;
}
.right {
  position: absolute;
  left: 790px;
  background-image: url(./right.png);
  background-size: cover;
}
.left {
  position: absolute;
  left: 20px;
  background-image: url('https://findicons.com/files/icons/760/hand_drawing/128/left.png');
  background-size: cover;
}
.circles {
  display: flex;
  position: relative;
  bottom: 40px;
  left: 760px;
  width: 100px;
}

.circle {
  width: 13px;
  height: 13px;
  margin-left: 10px;
  border-radius: 50%;
  background: #9aa6ac;
}
.circle:active {
  background: white;
}

.blackCircle {
  width: 13px;
  height: 13px;
  margin-left: 10px;
  border-radius: 50%;
  background: white;
}